<title>
    <%= title %>
</title>
<script>
 console.log("Test nodejs World Well come!");  
    function go_lib(){  
    }
</script>
<body>
    <a>hello World</a>
    <button onclick='go_lib()'>CLICK</button>
</body>